/* Benefits__header: Header for the benefits section */
.Benefits__header {
  text-align: center;
  margin-bottom: var(--element-spacing);
}

/* Benefits__title: Title for the benefits section */
.Benefits__title {
  font-size: var(--h2-size);
  color: var(--text-dark);
  position: relative;
  display: inline-block;
}
